* {
    margin: 0;
    padding: 0;
}
 
header {
    font-family: Helvetica;
    width: 50%;
    margin: 0 auto;
}
 
ul {
    list-style: none;
}
 
#menu li>a {
    background-color: rgb(173, 0, 173);
    color: white;
    padding: 10px;
    display: block;
    text-decoration: none;
    min-width: 100px;
}
 
#menu li>a:hover {
    color: #000;
    background-color: rgb(255, 0, 140);
}
 
#menu>li {
    float: left;
    text-align: center
}
 
#menu>li>ul {
    display: none;
}
 
#menu>li:hover>ul {
    /* display: block; */
    display:block;
}